@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');


body {
background-color: #000000;
  margin: 0;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  color: white;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.max-width {
  max-width: 1100px;
  margin: 0px auto;
}

.absolute-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cur-po {
  cursor: pointer;
}

.collection-title {
  font-size: 30px;
  color: var(--heading-text);
  margin-bottom: 32px;
  font-weight: 600;
}

.slick-next:before,
.slick-prev:before {
  color: black
}

.live-icon {
  display: inline-block;
  position: relative;
  top: calc(50% - 5px);
  background-color: red;
  width: 10px;
  height: 10px;
  margin-left: 20px;
  border: 1px solid rgba(black, 0.1);
  border-radius: 50%;
  z-index: 1;
  &:before {
    content: "";
    display: block;
    position: absolute;
    background-color: rgba(red, 0.6);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    animation: live 2s ease-in-out infinite;
    z-index: -1;
  }
}

.btn {
  display: inline-block;
  
  font-weight: 700;
  position: relative;
  padding: 13px 25px;
  background-color: rgba(#ffffff, 0.9);
  text-decoration: none;
  color: #333;
  border-radius: 50px;
  border: 1px solid white;
  box-shadow: 0px 2px 0px darken(#0288d1, 10%);
  transition: all 0.2s;
  z-index: 1;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}