.create-team-container {
	padding: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	color: white;
}

 .create-team-header {
	width: 80%;
	border-radius: 1rem;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	border: 1px solid white;
}

/*
.create-team-title {
	font-size: 2rem;
	user-select: none;
	font-weight: 500;
}

.create-team-input-container{
	margin-left: auto;
	display: flex;
	gap: 30px;
}

.create-team-input {
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #ffffff54;
	outline: none;
	transition: all 0.3s;
	width: 300px;
	font-size: 1.2rem;
}

.create-team-input:focus {
	border-bottom: 1px solid #fff;
}

.create-team-select-members {
	border: 1px solid #ffffff87;
    padding: 20px 40px;
	border-radius: 10px;
}

.create-team-members-list {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.create-team-member {
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: space-between;
}

@media screen and (max-width: 768px) {
	.create-team-header {
		flex-direction: column;
		align-items: flex-start;
		gap: 15px;
	}
	.create-team-input-container {
		margin-left: 0;
		width: 100%;
	}
	.create-team-select-members {
		border: none;
		padding: 0;
		margin-top: 20px;
	}
	.create-team-input {
		width: 100%;
	}
} */