/* Speed Dial */
.speed-dial {
  position: fixed;
  bottom: 4vh;
  right: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10000;
}

/* Speed Dial Icon */
.speed-dial-icon {
  width: 8vh;
  height: 8vh;
  border-radius: 50%;
  background-color: rgba(30, 30, 30, 0.7);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
}

.avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

/* Speed Dial Actions */
.speed-dial-actions {
  display: none; /* Initially hidden */
  text-wrap: nowrap;
  flex-direction: column;
  position: absolute;
  bottom: 8vh;
  transition: all 0.3s ease;
  align-items: center;
}

.speed-dial-actions.show {
  display: flex;
  flex-grow: 1;
}

/* Speed Dial Action Buttons */
.speed-dial-action {
  background-color: #121422;
  color: #d5d5d5;
  padding: .5rem 0.5rem;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.7);
  transition: background-color 0.5s ease, transform 0.5s ease;
  margin: 0.3rem 0; /* Space between buttons */
  backdrop-filter: blur(10px);
  width: 100%;
}

.speed-dial-action:hover {
  background-color: transparent;
  border: 1px solid #121422;
}

/* Backdrop */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(15px);
  z-index: 9;
  display: none; /* Hidden by default */
}

.backdrop-open {
  display: block; /* Show backdrop when SpeedDial is open */
}

/* Responsive */
@media (max-width: 600px) {
  .speed-dial {
    bottom: 4vh;
  right: 4vh;
  }

  .speed-dial-icon {
    width: 8vh;
    height: 8vh;
  }

  .speed-dial-action {
    padding: 0.2rem 0.1rem;
    margin: 0.4rem;
    font-size:medium;
  }
}
